<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="./style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />

</head>
<body>
    <div class="container-home">
        <nav>
            <div class="logo-img col-xs-12 col-md-10 col-xl-8">
                <img src="./img/logo.png" alt="">
            </div>
        </nav>
        <section id="app" class="first-section">
                <div class="add-elementList">
                    <input class="input-text col-xs-11 col-md-9 col-xl-7" type="text" v-model="newTask" @keyup.enter="addTask" placeholder="inserisci un nuovo task" id="modulo" >
                    
                    <button @click="addTask" value="invia" onClick="modulo()">Aggiungi</button>    
                </div>
                <ul class="todoList">
                    <li v-for="(todo, index) in todoList" >
                        {{todo.elementList}}<i @click="deleteTask(index)"  class="fas fa-backspace delete"></i>
                    </li>
                </ul>
        </section>
    </div>
    <script src="./script.js"></script>
    <script src="./script-b.js"></script>

</body>
</html>